# Ignore the virtual environment
venv/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore PyCharm project settings
.idea/

# Ignore environment and system files
.DS_Store
Thumbs.db

# Ignore test data
data_test/
bon/

# Unpublished outputs
outputs/radon_output
outputs/radon_output_01
outputs/radon_output_02
outputs/radon_output_03

# conversion file
src/radon_transform/convert.py

# logger file
src/radon_transform/logger_config.py
src/radon_transform/coregistered_display.py