# Ignore the virtual environment
venv/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore PyCharm project settings
.idea/

# Ignore environment and system files
.DS_Store
Thumbs.db

# Ignore test data
applications/01_coregisterd_data/01_data/
bon/

# Unpublished outputs
outputs
applications/01_coregisterd_data/01_outputs/01_radon_output_00

# conversion file
src/convert.py

# logger file
src/logger_config.py

# old files
src/coregistered_display.py
src/display_handler.py
src/growing_plate_data.py
src/main.py

# Unpublished data

applications/01_coregisterd_data
applications/02_growing_plate/02_data
applications/02_growing_plate/02_outputs
applications/02_growing_plate/02_masks